 *{
            margin: 0 !important;
            padding: 0 !important;
            box-sizing: border-box !important;
}
body{
	background: #ffffff !important;
}
.title{
	color: #3b99e0;
}
.summary{
	background-color: #f7fbff !imporatnt;
	border-top: 3px solid #5ea4f3 !important;
}
div.button button{
	color: white;
	width: 100%;
	height:100%;
}
div input{
	width: 3rem;
	text-align: center;
}
span{
	display: block;
}
.products-1 div {
	align-items: center;
}