 *{
            margin: 0 !important;
            padding: 0 !important;
            box-sizing: border-box !important;
        }
.summary{
	background: #f7fbff !imporatnt;
	border-top: 3px solid #5ea4f3 !important;
}
div.button button{
	width: 100%;
	height:100%;
	background: #027bff !important;
	border-radius: 4px !important;
	border: none;
}